.apt {
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 2px sienna;
}
.casket {
  font-style: italic;
  font-weight: bold;
  font-family: fantasy;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
