.testbox {
  background-image: url("https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?cs=srgb&dl=background-brick-wall-bricks-259915.jpg&fm=jpg");
}
.apt {
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.casket {
  font-style: italic;
  font-weight: bold;
  font-family: fantasy;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  float: inherit;
  width: 50%;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.rada {
  font-weight: bolder;
  font-style: italic;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
